<div class="container-list-reservation">
  <h1 class="title">Mes Réservations</h1>
  <table class="reservation-table">
    <thead>
    <tr>
      <th>Résidence</th>
      <th>Pièce</th>
      <th>Date de début</th>
      <th>Date de fin</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.residence.nom_de_la_residence %></td>
        <td><%= reservation.piece&.nom || "Résidence entière" %></td>
        <td><%= reservation.date_debut %></td>
        <td><%= reservation.date_fin %></td>
        <td>
          <%= link_to "Modifier", edit_user_reservation_path(reservation), class: "button" %>
          <%= link_to "Supprimer", user_reservation_path(reservation), method: :delete, data: { confirm: "Êtes-vous sûr ?" }, class: "button delete" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
